

button, input {
	/* font: 1em Hind, sans-serif; */
	line-height: 1.5em;
}
input {
	color: #171717;
}
.search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	max-width: 12em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
    margin-left: 5px;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #386b4f;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #386b4f;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}
/* navbar  */


/* contactform  */

.contact{
  margin-top: 30px;
}
.contact .contactform .container{
  width: 85%;
  background:rgb(218, 238, 198);
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* margin-top: -100px; */
}
.contact .contactform .container .content{
  background:rgb(218, 238, 198);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.contact .contactform .container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contact .contactform .content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afb6b3;
}
.contact .contactform .content .left-side .details{
  margin: 14px;
  text-align: center;
}
.contact .contactform .content .left-side .details i{
  font-size: 30px;
  color:#510216;
  margin-bottom: 10px;
}
.contact .contactform .content .left-side .details .topic{
  font-size: 20px;
  font-weight: 500;
}
.contact .contactform .content .left-side .details .text-one,
.contact .contactform .content .left-side .details .text-two{
  font-size: 14px;
  color: #510216;
}
.contact .contactform .container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.contact .contactform .content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #510216;
}
.contact .contactform .right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.contact .contactform .right-side .input-box input,
.contact .contactform .right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: white;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  margin-bottom: -15px;
}

.contact .contactform .right-side .input-box .mail input{
  font-size: 16px;
  background: white;
  border-radius: 6px;
  padding: 15px 15px;
  resize: none;
  width: 49%;
  height: 100%;
}
.contact .contactform .right-side .message-box{
  min-height: 110px;
}
.contact .contactform .right-side .input-box textarea{
  padding-top: 6px;
}
.contact .contactform .right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.contact .contactform .right-side .button input[type="button"]{
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:#008037;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .contactform .button input[type="button"]:hover{
  background:#033810 ;
}

/* contactform  */



@media (max-width: 800px) {
  /* .subscribe h1{
    font-size: xx-large
  } */
  .contact .container .content{
    flex-direction: column-reverse;
  }
 .contact .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact .container .content .left-side::before{
   display: none;
 }
 .contact .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }

 .contact .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
}

@media screen and (min-width: 200px) and (max-width: 800px) {

  .contact .contactform .container .content .left-side {
    width: 100%;
  }
  .contact .contactform .container .content .right-side{
    margin: 0%;
    width: 100%;
    text-align: center;
  } 

  .contact .contactform .right-side .input-box .mail input{
    width: 100%;
    margin-bottom: 10px;
  }

  .contact .contactform .right-side .button {
    margin-top: 40px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #510216;
    font-size: 1rem;
    transition: .5s ease-in-out;
    padding-left: 5px;
  }
  
  .nav-item a {
    font-size: 0.9rem;
    color: #510216;
  }
  .subscribe .inptfld
  {
    width: 50%;
    height: 50px;
  }
  
  .subscribe .subscribebtn{
    width:fit-content;
    height: 50px;
  }

  /* .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 50px;
}
  .nav-item a {
    font-size: 3rem;
} */
  /* .navbar-light .navbar-toggler{
    font-size: xx-large;
  } */

.col-md-2 {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.col-md-3 {
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
.col-md-4 {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

/* footer */
.footer{
  background-color: red;
}
.footer .me-5 {
  text-align:left;
}
.footer #socialicon a {
  text-decoration: none;
}

.footer #socialicon i{
  text-align: left;
  font-size: large;
}
.footer .p-3{
  padding: 1rem;
}
.footer a{
  text-decoration: none;
}

.footer p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.footer #socialicon .text-white {
  margin-right: 0.5rem;
}

/* 
.contact .row{
  display: flex;
  flex-direction: column;
} */


/* 
.contact .row .col{
  height: 100%;
  margin-bottom: 50%;
} */

} 
 @media(max-width:800px){
    
    .contact .col{
        margin-bottom: 30%;
       
    }
} 

/* map  */
.map{
  text-align: center;
}
/* map  */


 /*donate-volunteer*/
 .header-image {
  background-image: url('images/Donate\ Volunteer\ Image.png');
  width: auto;
  height: 460px;
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  /*transform: translate3d(0px, -80.5809px, 0px);*/
  margin-top: 2%;
  margin-bottom: 1%;
}

.header-text {
  display: flex;
  padding: 6%;
}

.header-text h2 {
  font-size: 3.5rem;
  margin-bottom: 0;
  color: white;
  font-weight:700;
}

.header-text p {
  color: white;
  font-size: 1.3rem;
}
.header-text .donate {
  flex: 1;
  padding: 2%;
  margin-top: 6%;
}

.header-text .volunteer {
  flex: 1;
  text-align: right;
  padding: 2%;
  margin-top: -5%;
}

.header-text button {
  padding: 3%;
  /* border: 3px solid white; */
  background-color: #386b4f;
  color: white;
  font-weight: bolder;
  border: none;
  font-size: 1.009rem;
}
.header-text span{
  color: white;

  font-weight: bolder;
}

.header-text .donate button:hover,
.header-text .volunteer button:hover{
  background-color:#033810;
}

.header-text button:hover{
  cursor: pointer;
}


@media(min-width:200px) and (max-width:1000px){
  .header-text{
      flex-direction: column;   
  }
  .header-image{
      height:auto;
      margin-top:10%;
  }
  
  .header-text .volunteer{
      margin-top:8%;
      margin-bottom: 5%;
  }
  
}
/*donate-volunteer*/



/* contact address  */
.column {
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact .row{
  margin-left: 0%;
  margin-right: 0%;
}
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
/* contact address  */


/* topbtn  */
#topbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  background-color: #386b4f;
  cursor: pointer;
  padding:5px 10px;
  border-radius: 50%;
}
/* topbtn  */


/* subscribe  */
.subscribe{
  text-align: center;
  padding: 20px;
}
.subscribebtn:hover{
  background-color:#033810;
  border: none;
}

.subscribebtn{
  background-color:#386b4f;
  color: white;
  border: none;
}
.inptfld{
  border-radius: 20px;
  padding: 5px;
  width: 20%;

}
 .subscribebtn{
  border-radius: 20px;
  border: none;
  padding: 5px;
}
.fw-bold {
  font-weight: 700;
}

/* subscribe  */


 /* footer */
 .footer #socialicon a {
  text-decoration: none;
}

.footer a{
  text-decoration: none;
}
 


.footer #socialicon i{
  text-align: left;
  font-size: large;
}

.footer .text-center .p-3 p{
  text-align: center;
}

.footer #socialicon .text-white .fa{
  margin-right:0.5rem ;
} 
.footer h6{
  text-align: left;
}

.footer .mr-3{
  margin-right: 0%;
}
.footer #socialicon a {
  text-decoration: none;
}

.footer a{
  text-decoration: none;
}

.footer a:hover{
  text-decoration: none;
}

.footer p{
  text-align: left; 
}

/* footer  */

